.dark-mode .main-page {
  background-color: rgb(1, 13, 26);
}
.dark-mode .main-page .title {
  color: rgb(231, 243, 255);
}
.dark-mode .main-page .go__btn {
  border: 1px solid #e1eaf7;
  color: #e1eaf7;
}
.dark-mode .main-page .go__btn:hover {
  color: #154690;
  background-color: #fff;
}
.dark-mode .about {
  background-color: rgb(1, 13, 26);
}
.dark-mode .about .title {
  color: rgb(231, 243, 255);
}
.dark-mode .about .profile-introduce__name {
  color: rgb(231, 243, 255);
}
.dark-mode .about .profile-introduce__des {
  color: rgb(231, 243, 255);
}
.dark-mode .about .contact__icon {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.dark-mode .about .contact__icon:hover {
  border: none;
  background-color: rgb(231, 243, 255);
}
.dark-mode .about .btn__more {
  border: 1px solid #e1eaf7;
  color: #e1eaf7;
}
.dark-mode .about .btn__more:hover {
  color: #154690;
  background-color: #e1eaf7;
}
.dark-mode .skill {
  background-color: rgb(1, 13, 26);
}
.dark-mode .skill .title {
  color: rgb(231, 243, 255);
}
.dark-mode .project {
  background-color: rgb(1, 13, 26);
}
.dark-mode .project .title {
  color: rgb(231, 243, 255);
}
.dark-mode #to-top {
  border: 2px solid #f5f9ff;
  color: #f5f9ff;
}
.dark-mode #to-top:hover {
  color: #154690;
  background-color: #f5f9ff;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

span {
  display: inline-block;
}

img {
  display: block;
}

ul {
  display: inline-block;
}

li {
  list-style: none;
}

.inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

#to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 46px;
  height: 46px;
  border: 2px solid #154690;
  border-radius: 10px;
  padding-top: 1px;
  transform: rotate(90deg);
  color: #154690;
  background-color: transparent;
  visibility: hidden;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#to-top:hover {
  color: #f5f9ff;
  background-color: #154690;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  box-shadow: 0 2px 6px rgba(1, 1, 1, 0.2);
  z-index: 999;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header .logo {
  position: absolute;
  left: 0;
  z-index: 100;
}
header .logo:hover {
  cursor: pointer;
}
header .logo .home img {
  width: 50px;
  height: 50px;
}
header .dark-mode-btn {
  position: absolute;
  right: 0;
  padding: 4px;
}
header .dark-mode-btn:hover {
  cursor: pointer;
}
header .dark-mode-btn i {
  font-size: 20px;
  color: #6d6d6d;
}

/* MAIN PAGE */
.main-page {
  margin-top: 70px;
  background-color: rgb(231, 243, 255);
}
.main-page .inner {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-page .title {
  text-align: center;
  font-size: 3.6vw;
  margin-bottom: 180px;
  font-weight: 700;
  color: #373737;
}
.main-page .go__btn {
  width: 120px;
  height: 120px;
  border: 2px solid #154690;
  border-radius: 50%;
  font-size: 32px;
  font-weight: 500;
  color: #154690;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.main-page .go__btn:hover {
  color: #fff;
  background-color: #154690;
  cursor: pointer;
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: aliceblue;
  box-shadow: 0 2px 6px rgba(1, 1, 1, 0.2);
  z-index: 999;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
header .logo {
  position: absolute;
  left: 0;
  z-index: 100;
}
header .logo:hover {
  cursor: pointer;
}
header .logo .home img {
  width: 50px;
  height: 50px;
}
header .dark-mode-btn {
  position: absolute;
  right: 0;
  padding: 4px;
}
header .dark-mode-btn:hover {
  cursor: pointer;
}
header .dark-mode-btn i {
  font-size: 20px;
  color: #6d6d6d;
}

/* NAV */
.nav {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  visibility: hidden;
  background-color: rgba(36, 36, 36, 0.95);
}
.nav .inner {
  height: calc(100vh - 70px);
}
.nav .back__btn {
  font-size: 24px;
  line-height: 28px;
  position: absolute;
  top: 30px;
  left: 10px;
  color: rgb(231, 243, 255);
}
.nav .back__btn:hover {
  cursor: pointer;
}
.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.nav__list .nav__item {
  position: relative;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  padding: 10px;
  color: #fff;
}
.nav__list .nav__item::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 0;
  border-bottom: 3px solid #fff;
  transition: all 0.3s ease-in;
}
.nav__list .nav__item:last-child {
  margin-right: 0;
}
.nav__list .nav__item:hover {
  cursor: pointer;
}
.nav__list .nav__item:hover::after {
  content: "";
  max-width: 100%;
}

.about {
  display: none;
  background-color: rgb(231, 243, 255);
}
.about .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 70px);
}
.about .title {
  text-align: center;
  font-size: 3.6vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6vh;
  color: #373737;
}
.about .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .profile-image {
  width: 230px;
  height: auto;
  border-radius: 50%;
}
.about .profile-introduce__name {
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.02em;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 20px;
  color: #373737;
}
.about .profile-introduce__des {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.08em;
  width: 700px;
  font-weight: 300;
  color: #373737;
}
.about .profile .contact {
  display: flex;
  flex-direction: column;
}
.about .profile .contact__github, .about .profile .contact__instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 68px;
  border: 3px solid #154690;
  border-radius: 50%;
}
.about .profile .contact__github {
  margin-bottom: 40px;
}
.about .profile .contact__icon {
  padding: 10px;
  font-size: 48px;
  color: #6d6d6d;
  transition: all 0.3s ease-in-out;
}
.about .profile .contact__icon:hover {
  color: #154690;
}
.about .btn__more {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5vh;
  width: 11vw;
  height: 5vh;
  border: 1px solid #154690;
  border-radius: 0.6vw;
  font-weight: 600;
  background-color: transparent;
  color: #154690;
  transition: all 0.3s ease-in-out;
}
.about .btn__more:hover {
  color: #f5f9ff;
  background-color: #154690;
  cursor: pointer;
}
.skill {
  display: none;
  background-color: rgb(231, 243, 255);
}
.skill .inner {
  height: calc(100vh - 70px);
}
.skill .title {
  text-align: center;
  font-size: 3.6vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6vh;
  color: #373737;
}
.skill .swiper-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  bottom: 5vh;
}
.skill__list .skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 420px;
  border-radius: 20px;
  padding: 60px 40px;
  background-color: #999;
}
.skill__list .skill__item .item__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 60px;
  font-weight: 600;
}

.project {
  display: none;
  background-color: rgb(231, 243, 255);
}
.project .inner {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
}
.project .title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3.6vw;
  top: 6vh;
  color: #373737;
}
.project__list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  position: absolute;
  bottom: 5vh;
}
.project__list .project__item {
  position: relative;
  width: 400px;
  height: 450px;
  border-radius: 20px;
  padding: 36px 0;
  margin-right: 150px;
  background-color: #708fbd;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.project__list .project__item:hover {
  box-shadow: 7px 7px 10px rgb(201, 201, 201);
  font-weight: 700;
}
.project__list .project__item:hover .item__image {
  transform: scale(1.2);
}
.project__list .project__item:last-child {
  margin-right: 0;
}
.project__list .project__item .item {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.08em;
  position: absolute;
  left: calc(-56px / 4);
  top: calc(-56px / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-weight: 500;
  color: #f5f9ff;
  background-color: #154690;
}
.project__list .project__item a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.project__list .project__item a .item__image {
  width: 340px;
  height: auto;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;
}
.project__list .project__item a .item__des {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: #373737;
}

.dark-mode .main-page {
  background-color: rgb(1, 13, 26);
}
.dark-mode .main-page .title {
  color: rgb(231, 243, 255);
}
.dark-mode .main-page .go__btn {
  border: 1px solid #e1eaf7;
  color: #e1eaf7;
}
.dark-mode .main-page .go__btn:hover {
  color: #154690;
  background-color: #fff;
}
.dark-mode .about {
  background-color: rgb(1, 13, 26);
}
.dark-mode .about .title {
  color: rgb(231, 243, 255);
}
.dark-mode .about .profile-introduce__name {
  color: rgb(231, 243, 255);
}
.dark-mode .about .profile-introduce__des {
  color: rgb(231, 243, 255);
}
.dark-mode .about .contact__icon {
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.dark-mode .about .contact__icon:hover {
  border: none;
  background-color: rgb(231, 243, 255);
}
.dark-mode .about .btn__more {
  border: 1px solid #e1eaf7;
  color: #e1eaf7;
}
.dark-mode .about .btn__more:hover {
  color: #154690;
  background-color: #e1eaf7;
}
.dark-mode .skill {
  background-color: rgb(1, 13, 26);
}
.dark-mode .skill .title {
  color: rgb(231, 243, 255);
}
.dark-mode .project {
  background-color: rgb(1, 13, 26);
}
.dark-mode .project .title {
  color: rgb(231, 243, 255);
}
.dark-mode #to-top {
  border: 2px solid #f5f9ff;
  color: #f5f9ff;
}
.dark-mode #to-top:hover {
  color: #154690;
  background-color: #f5f9ff;
}

/*# sourceMappingURL=main.css.map */
