$main-color-light: #154690;
$sub-color-light: #708fbd;
$font-color-light: #373737;
$icon-color-light: #6d6d6d;
$background-color-light: rgb(231, 243, 255);

$main-color-dark: #e1eaf7;
$font-color-dark: rgb(231, 243, 255);
$icon-color-dark: rgb(231, 243, 255);
$background-color-dark: rgb(1, 13, 26);

$header-color: aliceblue;
$white-color: #fff;
$default-white: #f5f9ff;